:root {
  font-family: system-ui, sans-serif;
  color-scheme: light dark;
}

body {
  margin: 0;
}

#app {
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

button[aria-pressed='true'] {
  font-weight: 600;
}
